body{
    background-image: url("../Images/silverware.jpg");
    background-attachment: fixed;
    font-family: Georgia, Garamond, "sans-serif";
    background-color: #ffffff;
    color: #404040;
    font-size: 11pt;
}
a{
    color: #A4A400;
}
.comment{
    margin: 20px;
    font-style: italic;
    background-color: yellow;
}
.strike{
    text-decoration: line-through;
}

ul.pie-dot{
    list-style-image: url('../Images/pie_icon.gif');
}
.left{
    text-align: left;
}

.right{
    text-align: right;
}

h1, h2{
    font-family: "Lucida Sans Unicode", Helvetica, Arial, "sans-serif";
    color: #A4A400;
    font-size: 18pt;
    text-decoration: underline;
    letter-spacing: 0.25em;
}
h1{
    text-align: center;
    font-size: 22pt;
}
h1 > span, h2 > span {
    background-color: #F0F0F0;
}