#outer {
    border: 2px dashed black;
    padding: 10px;
    overflow: hidden;
    margin: 50px;
}
.middle{
    max-width: 400px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 10px;
}
#outer div{
    float: left;
}


