#a, #b {
    width: 100px;
    height: 100px;
    font: 30pt bold Helvetica, Arial, sans-serif;
    line-height: 100px;
    text-align: center;
}

#a {
    background-color: lightblue;
    /*float: left;*/
    float: right;
}

#b {
    background-color: pink;
    /*float: right;*/
    /*clear: left;*/
    position: absolute;
    top: 300px;
    right: 90px;
}

#c {
    background-color: lightgray;
    /*clear: left;*/
    /*text-align: right;*/
    text-align: center;
    /*width: 150px;*/
    /*margin: auto;*/
    clear: right;
    margin-right: 100px;
}

.more-floats{
    margin: 5px;
}