*{
    text-align: center;
    vertical-align: middle;
    font-size: 18pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    background-color: #53a1e6;
    height: 50px;
    padding-top: 30px;
    font-size: 16pt;
}


.menus{
    background-color: #5c899e;
    color: white;
    height: 50px;
    display: flex;
    list-style-type: none;
}

.menus>li{
    border-right: 1px solid black;
    padding: 0 10px;
    line-height: 50px;
}


.column1 { grid-area: clm1; }
.column2 { grid-area: clm2; }
.column3 { grid-area: clm3; }

.row{
    display: grid;
    grid-template-areas:
            'clm1 clm2 clm3';
}

.row div{
    padding-bottom: 100px;
}

.column1{
    background-color: dimgray;
    font-weight: bold;
}

.column2{
    background-color: darkgray;
    font-weight: bold;
}

.column3{
    background-color: lightgray;
    font-weight: bold;
}
.footer{
    clear: left;
    background-color: #5c899e;
    color: white;
    height: 100px;
    padding-top: 30px;
}

@media only screen and (max-width: 599px){
    .row{
        display: grid;
        grid-template-areas:
                'clm1 clm3'
                'clm2 clm2';
    }
}